<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_formulario.css' %}">
    <title>Editar Usuário</title>
    <script>
        function redirecionarParaLista() {
            window.location.href = "/usuario_list";
        }
    </script>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h1 class="logo">CLASSIFY</h1>
            <nav class="menu">
                <ul>
                    <li><a href="/inicial">Início</a></li>
                    <li><a href="/usuario_list">Tabela de Usuários</a></li>
                    <li>
                        <a href="#" class="submenu-toggle">Cadastros</a>
                        <ul class="submenu">
                            <li><a href="/cadastro_adm">Cadastro de Administradores</a></li>
                            <li><a href="/cadastro_aluno">Cadastro de Alunos</a></li>
                            <li><a href="/cadastro_professor">Cadastro de Professores</a></li>
                            <li><a href="/cadastro_turma">Cadastro de Turmas</a></li>
                        </ul>
                    </li>
                    <li><a href="/turma_select">Turmas</a></li>
                    <li><a href="#">Caixa de entrada</a></li>
                    <li><a href="#">Configurações</a></li>
                </ul>
            </nav>
        </aside>

        <div class="main-content">
            <h2>Editar Usuário</h2>
            <form action="/usuario_update_action/{{ usuario.idusuario }}/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name" value="{{ usuario.nome }}" placeholder="Digite o nome" required>
                </div>
            
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{ usuario.email }}" placeholder="Digite o email" required>
                </div>
            
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" placeholder="Digite a nova senha">
                </div>
            
                <button type="submit" class="submit-btn">Salvar Alterações</button>
            </form>
            
        </div>
    </div>
</body>
</html>
